# This is a basic workflow to help you get started with Actions

name: Release Homebrew

# Controls when the action will run.
on:

  release:
    types: [published]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  homebrew:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Update Homebrew Formula
        uses: izumin5210/action-homebrew-tap@v1.0.0
        with:
          tap: MBoxPlus/homebrew-tap
          token: ${{ secrets.ACCESS_TOKEN }}
          tap-token: ${{ secrets.ACCESS_TOKEN }}
          release-branch: master
          formula: Formula/mbox.rb

